<!DOCTYPE html>
<html>
<head>
    <title>Helldivers 2 Cheats</title>
    <link rel='stylesheet' href='/styles/styles.css' />
    <link rel="icon" type="image/png" href="/logo.png">
</head>
<body>
<h1>Helldivers 2 Cheats</h1>
<p>Total Downloads: <%= totalDownloads %></p>
<br>
<h3>Cheat table only</h3>
<p>Latest CT file: <a href="/ct/latest"><%= latestVersionCt %></a></p>
<p>Previous CT file: <a href="/ct/previous"><%= previousVersionCt %></a></p>
<br>
<h3>Bundle</h3>
<p>Latest Bundle file: <a href="/bundle/latest"><%= latestVersionBundle %></a></p>
<p>Previous Bundle file: <a href="/bundle/previous"><%= previousVersionBundle %></a></p>
<br>
<h3><a href="https://www.youtube.com/watch?v=snHQfC-aPkQ" target="_blank"</a> Latest Tutorial</h3>
<h3><a href="/ce"> Cheat Engine Download</a></h3>
<br>
<p><a href="https://github.com/DarkerMatter/xz4" target="_blank"</a> Github Repo</p>
</body>
</html>